extends layout

block content
    ul
        li
            a(href="ros") ROS Super Trofeo
            a(href="ros/preq") preq
        li
            a(href="tcr") TCR by kycu
            a(href="ros/preq") preq
        li
            a(href="acl") ACL Retro Wek
